header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: .9em;

    ul {
        list-style: none;
        gap: 10px;

        li {
            cursor: pointer;
        }
    }

    .container-header {
        padding: 0 24px;
        width: 100%;
        border-bottom: 1px solid $colorGrayTwo;
        display: inline-flex;
        flex-direction: row;
        gap: 10px;
        height: 72px;
        z-index: 1;

        img[alt="Logo udemy"] {
            width: 91px;
            height: 34px;
            align-self: center;
            cursor: pointer;
        }
        
        .container-header, .container-header__sec-one, .container-header__sec-two, .container-header__sec-one-ul {
            display: inline-flex;
            flex-direction: row;
            gap: 10px;
        }

        .container-header__sec-one {
            .container-header__sec-one-ul {
    
                li {
                    display: inline-flex;
                    align-items: center;
                    padding: 10px;
                    cursor: pointer;
                    position: relative;
                }
    
                li:hover {
                    color: $colorPurple;
                }
        
                .container-header__container-input {
                    border: 1px solid black;
                    border-radius: 30px;
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    background-color: $colorGray;
        
                    img {
                        padding-left: 15px;
                    }
        
                    .container-header__input-search {
                        width: calc(100vw - 920px);
                        border: none;
                        border-radius: 30px;
                        padding: 15px 15px 15px 5px;
                        background-color: transparent;
                    }
                }
            }

            .container-header__container-hidden {
                display: inline-flex;
                gap: 16px;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 75px;
                width: 288px;
                height: auto;
                padding: 16px;
                background-color: $colorWhite;
                color: $colorBlack;
                font-size: 1.35em;
                font-weight: bold;
                text-align: center;
                box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
                
                a {
                    text-decoration: none;
                    color: $colorWhite;
                    padding: 12px;
                    background-color: $colorBlack;
                }
            }
        }
    
        .container-header__sec-two {
            display: flex;
            align-items: center;
    
            img {
                padding: 10px;
                cursor: pointer;
                width: 40px;
            }
    
            .container-header__user {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: url(../../img/eu_2626_2.jpg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
        }
    }

    .container-header-two {
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);

        ul {
            display: flex;
            flex-direction: row;
            gap: 25px;

            li {
                position: relative;
            }

            li:hover {
                color: $colorPurbleTwo;
            }

            .triangle {
                width: 20px;
                height: 20px;
                display: block;
                color: $colorBlack;
                background-color: $colorBlack;
                transform: rotate(45deg) translateX(-50%);
                left: 50%;
                bottom: -35px;
                position: absolute;
            }
        }

        .container-header-two__container-selection {
            position: absolute;
            display: flex;
            width: 100vw;
            height: 48px;
            background-color: $colorBlack;
            color: $colorWhite;
            bottom: -48px;
            left: 0;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                li {
                    cursor: pointer;
                }

                li:hover {
                    color: $colorPurbleThree;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .container-header-two {

        ul {

            li:last-child {
                display: none;
            }
        }
    }
}

@media (max-width: 1225px) {
    .container-header-two {

        ul {

            li:nth-child(9) {
                display: none;
            }
        }
    }
}

@media (max-width: 1110px) {
    .container-header__sec-one-ul {
    
        li:nth-child(3) {
            display: none !important;
        }
    }

    .container-header__input-search {
        width: calc(100vw - 773.66px) !important;
    }

    .container-header-two {

        .container-header-two__container-selection {
            ul {

                .li-developer:first-child {
                    display: none;
                }

                .li-developer:nth-child(2) {
                    display: none;
                }

                .li-developer:last-child {
                    display: none;
                }
            }
        }

        ul {

            li:nth-child(8) {
                display: none;
            }
        }
    }
}

@media (max-width: 1000px) {
    .container-header__sec-one-ul {
    
        li:nth-child(4) {
            display: none !important;
        }
    }

    .container-header__input-search {
        width: calc(100vw - 643.60px) !important;
    }

    .container-header-two {

        ul {

            li:nth-child(7) {
                display: none;
            }
        }
    }
}

@media (max-width: 935px) {
    .container-header-two {

        ul {

            li:nth-child(6) {
                display: none;
            }
        }
    }
}