header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: .85em;
    z-index: 2;
    grid-area: header;

    ul {
        list-style: none;
        gap: 10px;

        li {
            cursor: pointer;
        }
    }

    .container-header {
        padding: 0 24px;
        width: 100%;
        border-bottom: 1px solid $colorGrayTwo;
        display: inline-flex;
        flex-direction: row;
        gap: 10px;
        height: 72px;
        z-index: 2;

        div:nth-child(1) {
            display: inline-flex;
            align-self: center;
        }

        div:nth-child(1) img {
            padding: 10px;
            cursor: pointer;
            width: 45px;
        }

        img[alt="Logo udemy"] {
            width: 91px;
            height: 34px;
            align-self: center;
            cursor: pointer;
        }
        
        .container-header, .container-header__sec-one, .container-header__sec-two, .container-header__sec-one-ul {
            display: inline-flex;
            flex-direction: row;
            gap: 10px;
        }

        .container-header__sec-two {
            > div > div {
                display: flex;
                flex-direction: column;
            }
        }

        .container-header__sec-one {
            .container-header__sec-one-ul {
    
                li {
                    display: inline-flex;
                    align-items: center;
                    padding: 9px;
                    cursor: pointer;
                    position: relative;
                    font-size: 1em;
                    width: max-content;
                }
    
                li:hover {
                    color: $colorPurple;
                }
        
                .container-header__container-input {
                    border: 1px solid black;
                    border-radius: 30px;
                    display: inline-flex;
                    align-items: center;
                    gap: 10px;
                    background-color: $colorGray;
        
                    iframe {
                        padding-left: 15px;
                        width: 40px;
                        height: 20px;
                        border: 0;
                        outline: 0;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }

                    .container-header__input-search {
                        width: calc(100vw - 920px);
                        border: none;
                        border-radius: 30px;
                        padding: 15px 15px 15px 5px;
                        background-color: transparent;
                    }
                }
            }

            .container-header__container-hidden {
                display: inline-flex;
                gap: 16px;
                flex-direction: column;
                position: absolute;
                right: 0;
                top: 71px;
                width: 288px;
                height: auto;
                padding: 16px;
                background-color: $colorWhite;
                color: $colorBlack;
                font-size: 1.35em;
                font-weight: bold;
                text-align: center;
                box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);
                
                a {
                    text-decoration: none;
                    color: $colorWhite;
                    padding: 12px;
                    background-color: $colorBlack;
                }
            }
        }
    
        .container-header__sec-two {
            display: flex;
            align-items: center;
    
            iframe {
                padding: 10px;
                cursor: pointer;
                width: 40px;
                height: 40px;
                outline: 0;
                border: 0;
                margin: 0 2px;
            }

            .container-header-icon__num {
                min-width: 20x;
                min-height: 20px;
                width: min-content;
                height: min-content;
                border-radius: 50%;
                background-color: $colorPurbleTwo;
                position: absolute;
                right: 0px;
                top: 0px;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                color: $colorWhite;
                font-weight: bold;
                padding: 1px 6px;
                font-size: .8em;
                pointer-events: none;
            }

            .container-header-sec-two__container-cart {
                position: relative;
            }

            .container-header-icon__num--none {
                display: none;
            }

            .container-header-sec-two__content-one {
                display: inline-flex;
            }

            .container-header-sec-two__content-one > div {
                position: relative;
            }

            .container-content-icon {
                width: 288px;
                height: calc(100vh - 72px);
                overflow-y: scroll;
                background-color: $colorWhite;
                position: absolute;
                right: 0;
                top: 55px;
                box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);

                .container-content-icon__content {
                    display: flex;
                    flex-direction: column;
                    padding: 10px;
                    gap: 8px;
                    cursor: pointer;
                    border-bottom: 1px solid $colorGrayTwo;
                    
                    img {
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                        padding: 0;
                        margin-right: 10px;
                    }

                    div {
                        width: 100%;
                    }

                    div > div {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                    }

                    h4 {
                        font-size: 1em;
                        color: $colorBlack;
                    }

                    p {
                        font-size: .9em;
                        color: $colorGrayThree;
                    }

                    .content__price {
                        font-size: 1em;
                        color: $colorBlack;
                        font-weight: bold;
                    }

                    button {
                        padding: 10px;
                        border: 1px solid $colorBlack;
                        outline: 0;
                        background-color: $colorWhite;
                        font-weight: bold;
                        cursor: pointer;

                        &:hover {
                            background-color: $colorGray;
                        }
                    }
                }
            }

            .container-content-icon-min {
                height: max-content !important;
            }

            .container-content-icon__content-cart {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 20px 30px;

                h3, button {
                    text-align: center;
                }

                h3 {
                    color: $colorGrayThree;
                    font-weight: normal;
                }

                button {
                    background-color: $colorWhite;
                    outline: 0;
                    border: 0;
                    font-weight: bold;
                    color: $colorPurple;
                    cursor: pointer;
                }
            }

            .container-content-icon__content-notification {
                display: flex;
                flex-direction: column;
                width: 100%;
                padding: 20px 10px;
                gap: 30px;

                div {
                    width: 100%;
                    justify-content: space-between;

                    h3 {
                        color: $colorBlack;
                        font-weight: bold;
                    }

                    button {
                        background-color: $colorWhite;
                        outline: 0;
                        border: 0;
                        font-weight: bold;
                        color: $colorPurple;
                        cursor: pointer;
                    }
                }

                p {
                    width: 100%;
                    text-align: center;
                    color: $colorGrayThree;
                    font-weight: normal;
                    font-size: 1.2em;
                }
            }
    
            .container-header__user {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                background: url(../../img/eu_2626_2.jpg);
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center;
                cursor: pointer;
            }
        }
    }

    .container-header-two {
        height: 48px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0,0,0,.08), 0 4px 12px rgba(0,0,0,.08);

        ul {
            display: flex;
            flex-direction: row;
            gap: 25px;

            li {
                position: relative;
            }

            li:hover {
                color: $colorPurbleTwo;
            }

            .triangle {
                width: 20px;
                height: 20px;
                display: block;
                color: $colorBlack;
                background-color: $colorBlack;
                transform: rotate(45deg) translateX(-50%);
                left: 50%;
                bottom: -35px;
                position: absolute;
            }
        }

        .container-header-two__container-selection {
            position: absolute;
            display: flex;
            width: 100vw;
            height: 48px;
            background-color: $colorBlack;
            color: $colorWhite;
            bottom: -48px;
            left: 0;
            z-index: 1;
            
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                li:hover {
                    color: $colorPurbleThree;
                    cursor: pointer;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .container-header-two {

        ul {

            li:last-child {
                display: none;
            }
        }
    }
}

@media (max-width: 1225px) {
    .container-header-two {

        ul {

            li:nth-child(9) {
                display: none;
            }
        }
    }
}

@media (max-width: 1110px) {
    .container-header__sec-one-ul {
    
        li:nth-child(3) {
            display: none !important;
        }
    }

    .container-header__input-search {
        width: calc(100vw - 773.66px) !important;
    }

    .container-header-two {

        .container-header-two__container-selection {
            ul {

                .li-developer:first-child {
                    display: none;
                }

                .li-developer:nth-child(2) {
                    display: none;
                }

                .li-developer:last-child {
                    display: none;
                }
            }
        }

        ul {

            li:nth-child(8) {
                display: none;
            }
        }
    }
}

@media (max-width: 1000px) {
    .container-header__sec-one-ul {
    
        li:nth-child(4) {
            display: none !important;
        }
    }

    .container-header__input-search {
        width: calc(100vw - 643.60px) !important;
    }

    .container-header-two {

        ul {

            li:nth-child(7) {
                display: none;
            }
        }
    }
}

@media (max-width: 935px) {
    .container-header-two {

        ul {

            li:nth-child(6) {
                display: none;
            }
        }
    }
}

@media (max-width: 840px) {
    .container-header__sec-one-ul, .container-header-two, .container-header__sec-two > div:nth-child(2), .container-header__sec-two div img:nth-child(1), .container-header__sec-two div img:nth-child(4) {
        display: none !important;
    }

    .container-header__sec-two div img {
        width: 40px !important;
    }

    .container-header {
        justify-content: space-between;
        padding: 0 10px !important;
    }

    .container-header__sec-one {
        display: none !important;
    }
}