@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  min-height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.9em;
}
header ul {
  list-style: none;
  gap: 10px;
}
header ul li {
  cursor: pointer;
}
header .container-header {
  padding: 0 24px;
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  height: 72px;
  z-index: 1;
}
header .container-header img[alt="Logo udemy"] {
  width: 91px;
  height: 34px;
  align-self: center;
  cursor: pointer;
}
header .container-header .container-header, header .container-header .container-header__sec-one, header .container-header .container-header__sec-two, header .container-header .container-header__sec-one-ul {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul li {
  display: inline-flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  position: relative;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul li:hover {
  color: #5624D0;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul .container-header__container-input {
  border: 1px solid black;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #f7f9fa;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul .container-header__container-input img {
  padding-left: 15px;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul .container-header__container-input .container-header__input-search {
  width: calc(100vw - 920px);
  border: none;
  border-radius: 30px;
  padding: 15px 15px 15px 5px;
  background-color: transparent;
}
header .container-header .container-header__sec-one .container-header__container-hidden {
  display: inline-flex;
  gap: 16px;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 75px;
  width: 288px;
  height: auto;
  padding: 16px;
  background-color: #FFFFFF;
  color: #1C1D1F;
  font-size: 1.35em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
header .container-header .container-header__sec-one .container-header__container-hidden a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 12px;
  background-color: #1C1D1F;
}
header .container-header .container-header__sec-two {
  display: flex;
  align-items: center;
}
header .container-header .container-header__sec-two img {
  padding: 10px;
  cursor: pointer;
  width: 40px;
}
header .container-header .container-header__sec-two .container-header__user {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url(../../img/eu_2626_2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
header .container-header-two {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
header .container-header-two ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
header .container-header-two ul li {
  position: relative;
}
header .container-header-two ul li:hover {
  color: #371783;
}
header .container-header-two ul li:hover::after {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  color: #1C1D1F;
  background-color: #1C1D1F;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
  bottom: -35px;
  position: absolute;
}
header .container-header-two .container-header-two__container-selection {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 48px;
  background-color: #1C1D1F;
  color: #FFFFFF;
  bottom: -48px;
  left: 0;
}
header .container-header-two .container-header-two__container-selection ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .container-header-two .container-header-two__container-selection ul li {
  cursor: pointer;
}
header .container-header-two .container-header-two__container-selection ul li:hover {
  color: #e5c9f8;
}

@media (max-width: 1300px) {
  .container-header-two ul li:last-child {
    display: none;
  }
}
@media (max-width: 1225px) {
  .container-header-two ul li:nth-child(9) {
    display: none;
  }
}
@media (max-width: 1110px) {
  .container-header__sec-one-ul li:nth-child(3) {
    display: none !important;
  }
  .container-header__input-search {
    width: calc(100vw - 773.66px) !important;
  }
  .container-header-two ul li:nth-child(8) {
    display: none;
  }
}
@media (max-width: 1000px) {
  .container-header__sec-one-ul li:nth-child(4) {
    display: none !important;
  }
  .container-header__input-search {
    width: calc(100vw - 643.6px) !important;
  }
  .container-header-two ul li:nth-child(7) {
    display: none;
  }
}
@media (max-width: 935px) {
  .container-header-two ul li:nth-child(6) {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */