@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "header" "main" "footer";
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 0.85em;
  z-index: 2;
  grid-area: header;
}
header ul {
  list-style: none;
  gap: 10px;
}
header ul li {
  cursor: pointer;
}
header .container-header {
  padding: 0 24px;
  width: 100%;
  border-bottom: 1px solid #c9c9c9;
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
  height: 72px;
  z-index: 2;
}
header .container-header div:nth-child(1) {
  display: inline-flex;
  align-self: center;
}
header .container-header div:nth-child(1) img {
  padding: 10px;
  cursor: pointer;
  width: 45px;
}
header .container-header img[alt="Logo udemy"] {
  width: 91px;
  height: 34px;
  align-self: center;
  cursor: pointer;
}
header .container-header .container-header, header .container-header .container-header__sec-one, header .container-header .container-header__sec-two, header .container-header .container-header__sec-one-ul {
  display: inline-flex;
  flex-direction: row;
  gap: 10px;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul li {
  display: inline-flex;
  align-items: center;
  padding: 9px;
  cursor: pointer;
  position: relative;
  font-size: 1em;
  width: max-content;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul li:hover {
  color: #5624D0;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul .container-header__container-input {
  border: 1px solid black;
  border-radius: 30px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background-color: #f7f9fa;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul .container-header__container-input img {
  padding-left: 15px;
}
header .container-header .container-header__sec-one .container-header__sec-one-ul .container-header__container-input .container-header__input-search {
  width: calc(100vw - 920px);
  border: none;
  border-radius: 30px;
  padding: 15px 15px 15px 5px;
  background-color: transparent;
}
header .container-header .container-header__sec-one .container-header__container-hidden {
  display: inline-flex;
  gap: 16px;
  flex-direction: column;
  position: absolute;
  right: 0;
  top: 71px;
  width: 288px;
  height: auto;
  padding: 16px;
  background-color: #FFFFFF;
  color: #1C1D1F;
  font-size: 1.35em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
header .container-header .container-header__sec-one .container-header__container-hidden a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 12px;
  background-color: #1C1D1F;
}
header .container-header .container-header__sec-two {
  display: flex;
  align-items: center;
}
header .container-header .container-header__sec-two iframe {
  padding: 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  outline: 0;
  border: 0;
  margin: 0 2px;
}
header .container-header .container-header__sec-two .container-header-sec-two__content-one {
  display: inline-flex;
}
header .container-header .container-header__sec-two .container-header-sec-two__content-one > div {
  position: relative;
}
header .container-header .container-header__sec-two .container-content-icon {
  width: 288px;
  height: calc(100vh - 72px);
  overflow-y: scroll;
  background-color: #FFFFFF;
  position: absolute;
  right: 0;
  top: 55px;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 8px;
  cursor: pointer;
  border-bottom: 1px solid #c9c9c9;
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  padding: 0;
  margin-right: 10px;
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content div {
  width: 100%;
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content div > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content h4 {
  font-size: 1em;
  color: #1C1D1F;
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content p {
  font-size: 0.9em;
  color: #7c7c7c;
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content .content__price {
  font-size: 1em;
  color: #1C1D1F;
  font-weight: bold;
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content button {
  padding: 10px;
  border: 1px solid #1C1D1F;
  outline: 0;
  background-color: #FFFFFF;
  font-weight: bold;
  cursor: pointer;
}
header .container-header .container-header__sec-two .container-content-icon .container-content-icon__content button:hover {
  background-color: #f7f9fa;
}
header .container-header .container-header__sec-two .container-content-icon-min {
  height: max-content !important;
}
header .container-header .container-header__sec-two .container-content-icon__content-cart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 30px;
}
header .container-header .container-header__sec-two .container-content-icon__content-cart h3, header .container-header .container-header__sec-two .container-content-icon__content-cart button {
  text-align: center;
}
header .container-header .container-header__sec-two .container-content-icon__content-cart h3 {
  color: #7c7c7c;
  font-weight: normal;
}
header .container-header .container-header__sec-two .container-content-icon__content-cart button {
  background-color: #FFFFFF;
  outline: 0;
  border: 0;
  font-weight: bold;
  color: #5624D0;
  cursor: pointer;
}
header .container-header .container-header__sec-two .container-content-icon__content-notification {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 10px;
  gap: 30px;
}
header .container-header .container-header__sec-two .container-content-icon__content-notification div {
  width: 100%;
  justify-content: space-between;
}
header .container-header .container-header__sec-two .container-content-icon__content-notification div h3 {
  color: #1C1D1F;
  font-weight: bold;
}
header .container-header .container-header__sec-two .container-content-icon__content-notification div button {
  background-color: #FFFFFF;
  outline: 0;
  border: 0;
  font-weight: bold;
  color: #5624D0;
  cursor: pointer;
}
header .container-header .container-header__sec-two .container-content-icon__content-notification p {
  width: 100%;
  text-align: center;
  color: #7c7c7c;
  font-weight: normal;
  font-size: 1.2em;
}
header .container-header .container-header__sec-two .container-header__user {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: url(../../img/eu_2626_2.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
header .container-header-two {
  height: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 0 0 0 1px #d1d7dc, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
}
header .container-header-two ul {
  display: flex;
  flex-direction: row;
  gap: 25px;
}
header .container-header-two ul li {
  position: relative;
}
header .container-header-two ul li:hover {
  color: #371783;
}
header .container-header-two ul .triangle {
  width: 20px;
  height: 20px;
  display: block;
  color: #1C1D1F;
  background-color: #1C1D1F;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
  bottom: -35px;
  position: absolute;
}
header .container-header-two .container-header-two__container-selection {
  position: absolute;
  display: flex;
  width: 100vw;
  height: 48px;
  background-color: #1C1D1F;
  color: #FFFFFF;
  bottom: -48px;
  left: 0;
  z-index: 1;
}
header .container-header-two .container-header-two__container-selection ul {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
header .container-header-two .container-header-two__container-selection ul li:hover {
  color: #e3c0fa;
  cursor: pointer;
}

@media (max-width: 1300px) {
  .container-header-two ul li:last-child {
    display: none;
  }
}
@media (max-width: 1225px) {
  .container-header-two ul li:nth-child(9) {
    display: none;
  }
}
@media (max-width: 1110px) {
  .container-header__sec-one-ul li:nth-child(3) {
    display: none !important;
  }
  .container-header__input-search {
    width: calc(100vw - 773.66px) !important;
  }
  .container-header-two .container-header-two__container-selection ul .li-developer:first-child {
    display: none;
  }
  .container-header-two .container-header-two__container-selection ul .li-developer:nth-child(2) {
    display: none;
  }
  .container-header-two .container-header-two__container-selection ul .li-developer:last-child {
    display: none;
  }
  .container-header-two ul li:nth-child(8) {
    display: none;
  }
}
@media (max-width: 1000px) {
  .container-header__sec-one-ul li:nth-child(4) {
    display: none !important;
  }
  .container-header__input-search {
    width: calc(100vw - 643.6px) !important;
  }
  .container-header-two ul li:nth-child(7) {
    display: none;
  }
}
@media (max-width: 935px) {
  .container-header-two ul li:nth-child(6) {
    display: none;
  }
}
@media (max-width: 840px) {
  .container-header__sec-one-ul, .container-header-two, .container-header__sec-two > div:nth-child(2), .container-header__sec-two div img:nth-child(1), .container-header__sec-two div img:nth-child(4) {
    display: none !important;
  }
  .container-header__sec-two div img {
    width: 40px !important;
  }
  .container-header {
    justify-content: space-between;
    padding: 0 10px !important;
  }
  .container-header__sec-one {
    display: none !important;
  }
}
main {
  width: 100%;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-area: main;
}
main .main-sec-one-carousel {
  background-color: #f7f9fa;
  width: 100%;
  min-height: 300px;
  max-height: 400px;
  position: relative;
  display: flex;
  justify-content: center;
}
main .main-sec-one-carousel .main-sec-one-next, main .main-sec-one-carousel .main-sec-one-previous {
  width: 40px;
  height: 40px;
  background-color: #1C1D1F !important;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0 0 0 1px #3e4143, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
main .main-sec-one-carousel .main-sec-one-next:hover, main .main-sec-one-carousel .main-sec-one-previous:hover {
  background-color: #3e4143 !important;
}
main .main-sec-one-carousel .main-sec-one-next {
  right: 15px;
  background: url(../../img/icon/caret-right-fill.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
main .main-sec-one-carousel .main-sec-one-previous {
  left: 15px;
  background: url(../../img/icon/caret-left-fill.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
main .main-sec-one-carousel .main-sec-one-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  transition: all 800ms ease-in-out;
}
main .main-sec-one-carousel .main-sec-one-content img {
  object-fit: cover;
  width: 100vw;
  height: 100%;
  min-height: 300px;
  max-height: 400px;
}
main .main-sec-one-carousel .main-sec-one-content .carousel-content {
  padding: 24px 24px 30px;
  position: absolute;
  left: 80px;
  top: 70px;
  width: 440px;
  line-height: 1.5em;
  background-color: #FFFFFF;
}
main .main-sec-one-carousel .main-sec-one-content .carousel-content h1 {
  font-size: 2em;
  font-family: Georgia, Times, "Times New Roman", serif;
  margin-bottom: 8px;
  line-height: 1.25em;
}
main .main-sec-one-carousel .main-sec-one-content .carousel-content-all {
  display: inline-flex;
  width: 100%;
  flex: 0 0 100%;
  position: relative;
}
main .main-sec-one-carousel .main-sec-one-content .carousel-content-going-next {
  animation: slide-next 1s both ease-in-out;
}
@keyframes slide-next {
  100% {
    transform: translateX(-100vw);
  }
}
main .main-sec-one-carousel .main-sec-one-content .carousel-content-going-previous {
  animation: slide-previous 1s both ease-in-out;
}
@keyframes slide-previous {
  100% {
    transform: translateX(100vw);
  }
}
main .main-sec-one-carousel .main-sec-one-content-remove-transition {
  transition: none !important;
}
main .main-sec-two-courses {
  width: 100%;
  max-width: 1360px;
}
main .main-sec-two-courses .section-main-courses {
  display: flex;
  flex-direction: column;
  padding: 65px 30px 10px;
  gap: 20px;
}
main .main-sec-two-courses .section-main-courses .container-courses-carousel {
  display: flex;
  flex-direction: row;
  position: relative;
}
main .main-sec-two-courses .section-main-courses .container-courses-carousel .main-sec-two-next, main .main-sec-two-courses .section-main-courses .container-courses-carousel .main-sec-two-previous {
  width: 40px;
  height: 40px;
  background-color: #1C1D1F !important;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 50%;
  transform: translateY(-100px);
  box-shadow: 0 0 0 1px #3e4143, 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
main .main-sec-two-courses .section-main-courses .container-courses-carousel .main-sec-two-next:hover, main .main-sec-two-courses .section-main-courses .container-courses-carousel .main-sec-two-previous:hover {
  background-color: #3e4143 !important;
}
main .main-sec-two-courses .section-main-courses .container-courses-carousel .main-sec-two-next {
  right: -15px;
  background: url(../../img/icon/caret-right-fill.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
main .main-sec-two-courses .section-main-courses .container-courses-carousel .main-sec-two-previous {
  left: -15px;
  background: url(../../img/icon/caret-left-fill.svg);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
main .main-sec-two-courses .section-main-courses .container-courses-carousel .main-sec-two-next--hidden {
  display: none;
}
main .main-sec-two-courses .section-main-courses .container-courses-carousel .main-sec-two-previous--hidden {
  display: none;
}
main .main-sec-two-courses .section-main-courses .container-courses {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow: hidden;
}
main .main-sec-two-courses .section-main-courses .container-course {
  display: flex;
  flex-direction: column;
  width: 240px;
  gap: 5px;
  cursor: pointer;
}
main .main-sec-two-courses .section-main-courses .container-course h3 {
  font-size: 0.97em;
  margin-top: 5px;
  padding-right: 5px;
  font-weight: bold;
}
main .main-sec-two-courses .section-main-courses .container-course p {
  font-size: 0.7em;
  color: #7c7c7c;
}
main .main-sec-two-courses .section-main-courses .container-course p:nth-child(1), main .main-sec-two-courses .section-main-courses .container-course p:nth-child(2) {
  display: inline-flex;
  font-size: 0.8em;
}
main .main-sec-two-courses .section-main-courses .container-course p:nth-child(1) {
  color: #b4690e;
  font-weight: bold;
  font-size: 0.9em;
}
main .main-sec-two-courses .section-main-courses .container-course p:nth-child(5) {
  color: #1C1D1F;
  font-weight: bold;
  font-size: 1.1em;
}
main .main-sec-two-courses .section-main-courses .container-course .classification--highest-rating {
  color: #4d3105;
  font-weight: bold;
  font-size: 0.75em;
  background-color: #f3ca8c;
  display: inline-flex;
  padding: 5px;
  width: max-content;
}
main .main-sec-two-courses .section-main-courses .container-course .classification--best-sellers {
  color: #4d3105;
  font-weight: bold;
  font-size: 0.75em;
  background-color: #eceb98;
  display: inline-flex;
  padding: 5px;
  width: max-content;
}
main .main-sec-two-courses .section-main-courses .container-course .classification--none {
  display: flex;
  height: 24px;
  width: 0px;
}
main .main-sec-two-courses .container-course--primary {
  transition: margin 800ms ease-in-out;
}
main .main-sec-two-courses .container-course-primary--transition-none {
  transition: none;
}
main .main-sec-two-courses .section-main-courses:last-child {
  padding: 65px 30px;
}
@media (max-width: 1359px) {
  main .main-sec-two-courses {
    max-width: 1080px;
  }
}
@media (max-width: 1125px) {
  main .main-sec-one-carousel .main-sec-one-content .carousel-content {
    transform: scale(0.8);
    left: 20px;
    top: 20px;
  }
}
@media (max-width: 1101px) {
  main .main-sec-two-courses {
    max-width: 820px;
  }
}
@media (max-width: 838px) {
  main .main-sec-two-courses {
    max-width: 560px;
  }
}
@media (max-width: 700px) {
  main .main-sec-one-carousel .main-sec-one-content .carousel-content-all:nth-child(2) {
    display: flex;
    width: 100%;
  }
  main .main-sec-one-carousel .main-sec-one-content .carousel-content {
    transform: scale(1);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: 0.8em;
    left: 0 !important;
    height: min-content !important;
    top: auto !important;
    bottom: 0 !important;
    width: 100vw !important;
    padding: 20px 60px !important;
  }
}
@media (max-width: 578px) {
  main .main-sec-two-courses {
    max-width: 480px;
  }
  main .main-sec-two-courses .container-course {
    width: 200px !important;
    gap: 5px;
  }
}

footer {
  background-color: #1C1D1F;
  color: #FFFFFF;
  width: 100%;
  grid-area: footer;
}
footer .container-sec-one-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 16px 48px;
}
footer .container-sec-one-footer p {
  padding-top: 8px;
}
footer .container-sec-two-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 12px 48px;
  gap: 15px;
  border-top: 1px solid #3e4143;
}
footer .container-sec-two-footer span {
  color: #e3c0fa;
}
footer .container-sec-two-footer div {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
footer .container-sec-two-footer p {
  font-weight: bold;
  font-size: 1.2em;
}
footer .container-sec-three-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #3e4143;
  padding: 24px 48px 0;
  align-items: flex-start;
}
footer .container-sec-three-footer .container-sec-three-footer__list {
  display: flex;
  flex-direction: row;
  gap: 110px;
}
footer .container-sec-three-footer .container-sec-three-footer__list ul {
  list-style: none;
  line-height: 20px;
  font-size: 0.9em;
}
footer .container-sec-three-footer .container-sec-three-footer__list ul li {
  padding: 4px 0;
}
footer .container-sec-three-footer .container-sec-three-footer__list ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .container-sec-four-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 64px 48px 32px;
}
footer .container-sec-four-footer img {
  width: 80px;
}
footer .container-sec-four-footer span {
  font-size: 0.8em;
}
footer .button-footer {
  background-color: #1C1D1F;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-weight: bold;
  font-size: 0.9em;
  padding: 10px;
  cursor: pointer;
}
footer .button-footer:hover {
  background-color: #424447;
}
@media (max-width: 1030px) {
  footer .container-sec-two-footer {
    flex-direction: column;
  }
  footer .container-sec-two-footer div {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  footer .container-sec-two-footer div img {
    max-width: 300px;
  }
}
@media (max-width: 850px) {
  footer .container-sec-one-footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  footer .container-sec-three-footer {
    flex-direction: column-reverse;
    gap: 10px;
  }
}
@media (max-width: 700px) {
  footer .container-sec-three-footer__list {
    flex-direction: column !important;
    gap: 10px !important;
  }
}/*# sourceMappingURL=style.css.map */